<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>
            <a [routerLink]="['/contact', contact.id]">Go to details</a>
        </td>
    </tr>
</table>

<form class="input-group occupation-nav-search-input">
    <input class="form-control" type="search" placeholder="Search occupations, industries, career stories and career articles" aria-label="Search" [(ngModel)]="Keywords" [ngModelOptions]="{standalone: true}">
    <!-- <button class="btn" type="submit" class="btn-occupation-search btn-primary px-4" (click)="gosearch(Keywords)">Search -></button> -->
    <button class="btn" type="submit" class="btn-occupation-search btn-primary px-4" [routerLink]="['/contact', Keywords]">Search -></button>
</form>